@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

.cs-message__content, .cs-message-input__content-editor-wrapper, .cs-message-input__content-editor{
    background-color: #E9D6D0 !important;
}

.cs-message-input__content-editor-wrapper{
    margin-left: 2% !important;
}

.cs-button--attachment{
    display: none !important
}